server:
  port: 8085


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/taiga
    username: root
    password: charani

    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQLDialect
      hibernate.format_sql: true
  flyway:
    enabled: false
